In [4]:
import glob
import pandas as pd

## 收集数据

In [67]:
df = pd.DataFrame()

for csv_file in glob.glob('data/*.csv'):
    df_monitor = pd.read_csv(csv_file, index_col = 'Unnamed: 0')
    df_monitor['monitor'] = csv_file[-8:-4]
    df = df.append(df_monitor, ignore_index = True)

**站点与编号的对应关系**

涿州1：61694036420907，农村  
涿州2：61694036386371  
涿州3：61694036386884  
涿州4：61694036384467  
涿州5：61694036420840  
涿州6：63586031976115，城边  
定兴7：61694036386405

In [68]:
df.monitor.replace(['0907','6371','6884','4467','0840','6115','6405'], ['M1','M2','M3','M4','M5','M6','D7'], inplace = True)

**导出数据**

In [69]:
df.to_csv('merge.csv', index=False)

## TEST

In [42]:
pf = pd.DataFrame({'A': [0, 1, 2, 3, 4, 1, 3, 2, 2, 8],
                   'B': [5, 6, 7, 8, 9, 5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e', 'e', 'b', 'd', 'd', 'e']})

pf['C'].replace(['a', 'b'], ['ad', 'bu'],inplace =True)

In [53]:
pf = pd.read_csv('merge.csv')

In [61]:
df.head()

,time,Temperature,Humidity,Light,Noise,Pressure,PM2p5,PM10,WindSpeed,WindDirection,CO2,CO,VOC,SO2,NO2,O3,UV,monitor
0,2018/4/15 0:01,13.5,29,0,52.13,1016,12,20,0.0,123,1593.04,0.0,1,0.00,774.20,21.43,3,6115
1,2018/4/15 0:02,13.4,28,0,52.07,1016,10,16,0.1,58,1596.96,0.0,1,128.57,679.73,21.43,3,6115
2,2018/4/15 0:03,13.4,26,0,51.98,1016,22,22,0.0,355,1650.00,0.0,1,88.57,735.18,21.43,3,6115
3,2018/4/15 0:04,13.4,26,0,52.05,1016,4,4,0.2,341,1610.71,0.0,1,94.29,798.84,21.43,3,6115
4,2018/4/15 0:05,13.4,26,0,51.99,1016,6,6,0.1,342,1628.39,0.0,1,0.00,743.39,21.43,3,6115

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661176 entries, 0 to 661175
Data columns (total 18 columns):
time             661176 non-null object
Temperature      661176 non-null float64
Humidity         661176 non-null int64
Light            661176 non-null int64
Noise            661176 non-null float64
Pressure         661176 non-null int64
PM2p5            661176 non-null int64
PM10             661176 non-null int64
WindSpeed        661176 non-null float64
WindDirection    661176 non-null int64
CO2              661176 non-null float64
CO               661176 non-null float64
VOC              661176 non-null int64
SO2              661176 non-null float64
NO2              661176 non-null float64
O3               661176 non-null float64
UV               661176 non-null int64
monitor          661176 non-null object
dtypes: float64(8), int64(8), object(2)
memory usage: 90.8+ MB